* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100vw;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.map-backdrop {
  opacity: .3;
}

.action-buttons {
  position: absolute;
  z-index: 99;
  top: 1rem;
  right: 1rem;
}

